.cartItems{
    margin: 100px 100px;
}
.cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr; 
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr; 
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 17px;
    font-weight: 500;
}
.productIcon{
    height: 62px;
}
.removeIcon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.quantity{
    width: 45px;
    height: 35px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.down{
    display: flex;
    margin: 100px 0px;
}
.total{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.total h1{
    font-size: 30px;
}
.totalPrice{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff4141;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}