.newCollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.newCollectionsHeading{
    color: #171717;
    font-size: 40px;
    font-weight: 500;
}
.newCollectionsHr{
    padding: 3px;
    width: 200px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}